.h3-style{
	font-size: 14px;
	color: #5863F8;
	margin-top: 83px;
    /*margin-left: 163px;*/
	font-family: 'Roboto', sans-serif;
}
.title-fontsize{
	font-size: 42px;
}
.div-width{
	width: 	1088px;
	margin: 0 auto	;
}

.h4-style{
	font-size: 14px;
	color: #5863F8;
	margin-top: 37px;
	margin-left: 16px;
	font-family: 'Roboto', sans-serif;
	
}
.title-style{
	font-size: 18px;
	margin-top: 1px;
	margin-left: 16px;
	margin-bottom: 11px;
	font-family: 'Roboto', sans-serif;
    
}
.lefttext-block{
     display: inline-block;
}
.text-style {  
	font-size: 14px;
    color: #B1B1B1;
    margin-left: 16px;
    
}  

.text-style2{
	font-size: 14px;
	color: #B1B1B1;
	margin-left: 16px;
        
}
.lefttext-block{
     display: inline-block;
     vertical-align: top; 	  	 


}
.left-block {       
    border-width: 2px ;
	border-style: solid;
	border-color: black;
    width: 536px;
    height: 190px;
    background:#F8F8F8 ;
    margin-top: 47px ;
    vertical-align: top;
    display: inline-block;  
}
/* righit block */
.right-block {
	border-width: 2px ;
	border-style: solid;
	border-color: black;
	width: 536px;
	height: 190px	;
	background:#BE2B2B ;
	margin-top: 47px;
	margin-left: 16px;
	display: inline-block;

}
.right-title-style{
	font-size: 14px;
	color: #5863F8;
	margin-top: 37px;
	margin-left: 16px;
	

}
.right-second-title{
	font-size: 18px;
	margin-top: 1px;
	margin-left: 16px;
	margin-bottom: 11px;
	
}

.righttext-style{
	font-size: 14px;
	color: #B1B1B1;
	margin-left: 16px;

}
.righttext-block{
	display: inline-block;
	vertical-align: top;
}
/*second---section*/
.mean{
	margin-top: 102px;
}
.leftbottom-block{
	margin-top: 69px;
	background: #F8F8F8;
	display: inline-block;
}
.second-section-div{
	border-width: 2px ;
	border-top: none;
	border-style: solid;
	border-color: black;
	width: 352px;
	height: 148px;
	background: #F8F8F8;
	text-align: center;
}
.bottom-block{
	font-size: 14px;
	color: #5863F8;
	margin: 23px 0 6px 0;
	font-family:'Roboto', sans-serif;
}
.bottom-block2{
	font-size: 18px;
	font-family:'Roboto', sans-serif;
	margin-bottom: 11px;

}
.bottom-block3{
    font-size: 14px;
    color: #B1B1B1;
    font-family:'Roboto', sans-serif;
}
